/* ----------  Palette  ---------- */
:root {
    --bg-main: #EEF2FF;
    --text-muted: #575F68;
    --brand-red: #AF0A0F;

    --form-header-bg: #9988EE;
    --border-light: #B7C5D9;
    --link-primary: #0F0C5D;
    --link-secondary: #34345C;

    --post-bg: #D6DAF0;
    --post-highlight: #D6BAD0;
    --post-author: #13A82A;
    --greentext: #789922;

    --reply-link: #DD0000;
    --dialog-bg: #EDEFF7;

    --danger: #FF0000;
    --warning-bg: #FFAAAA;
    --black: #000000;

    --heading-bg: #00007F;
    --heading-text: #FFFFFF;
    --box-bg: #ECEFF6;

    --shadow: rgba(0, 0, 0, 0.25);
}

/* ----------  Global ---------- */

body {
    background: var(--bg-main);
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 4px;
}

/* INDEX */

#clavis {
    display: block;
    width: 300px;
    margin: 10px auto;
    margin-bottom: 50px;
}

/* BOARD LIST */

#boardList {
    font-size: 12px;
    margin: 5px;
}

#boardList a {
    cursor: pointer;
    color: var(--text-muted);
}

#boardList a:hover {
    color: var(--danger);
}

/* BOARD */

.board-header {
    text-align: center;
    color: var(--brand-red);
}

.board-header h1 {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 8px;
    margin-top: 12px;
}

.board-header p {
    font-size: .8rem;
    margin: 4px;
}

.board-header img {
    width: 300px;
}

#boardActionBar {
    font-size: 12px;
}

/* THREAD CATALOG */

#catalog {
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
}

.catalog-preview {
    margin: 10px;
    text-align: center;
    padding: 10px;
    width: 250px;
    max-height: 300px;
    overflow: scroll;
}

.catalog-preview h1 {
    font-size: 14px;
    font-weight: bold;
}

.catalog-preview p {
    margin-top: 10px;
    font-size: 12px;
}

.catalog-preview-link {
    text-decoration: none;
    cursor: pointer;
    color: var(--link-primary);
}

.catalog-preview-img {
    max-width: 95%;
    border: 1px solid var(--border-light);
    box-shadow: 0 0 3px var(--shadow);
}

.catalog-preview-img-small {
    max-height: 50%;
}

.catalog-preview-img-large {
    max-height: 90%;
}

.catalog-preview-counts {
    font-size: 12px;
    margin-top: 2.5px;
}

.catalog-preview-counts-container {
    position: relative;
    margin-top: 4px;
}

.icons-container {
    position: absolute;
    right: 100%;
    margin-right: 6px;
    top: 50%;
    left: 22%;
    transform: translateY(-50%);
    display: flex;
}

.icons-container .icon {
    margin-left: 2px;
}

/* NEW THREAD BUTTON/FORM */

#newThreadBtn {
    margin-top: 12px;
    background: none;
    border: none;
    padding: 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--link-secondary);
    cursor: pointer;
}

#newThreadBtn:hover {
    color: var(--danger);
}

#newPostForm table {
    margin: auto;
}

#newPostForm button {
    display: block;
    margin-left: auto;
}

#newPostBody {
    width: 270px;
    height: 100px;
}

.new-post-container {
    width: max-content;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 20px;
}

.new-post-form-field th {
    border: 1px solid var(--black);
    text-align: left;
    vertical-align: middle;
    padding: 4px;
    background: var(--form-header-bg);
    font-weight: bold;
    font-size: .8rem;
}

.new-post-form-field td {
    display: block;
    margin: 2px;
}

/* THREAD/POSTS */

.thread {
    margin: 2rem;
}

.thread-subject {
    font-weight: bold;
    color: var(--link-primary);
    margin-right: 5px;
    float: left;
}

.post-op {
    margin-bottom: 10px;
    font-size: 14px;
}

.post {
    display: inline-block;
    margin: 5x;
    padding: 10px;
    background-color: var(--post-bg);
    border: 1px solid var(--border-light);
    margin-bottom: 10px;
    font-size: 14px;
}

.post-highlighted {
    background: var(--post-highlight);
}

.post-header {
    clear: none;
    margin-bottom: 10px;
}

.post-header span {
    margin-right: 5px;
}

.post-author {
    color: var(--post-author);
}

.post-img {
    display: block;
    float: left;
    margin: 4px 12px 4px 0;
    cursor: pointer;
    height: auto;
    max-width: 100%;
}

.post-vid {
    display: block;
    float: left;
    margin: 4px 12px 4px 0;
    height: auto;
    max-width: 100%;
}

.post-img-info {
    display: inline-block;
    font-size: 10px;
    margin-left: 5px;
}

.post-body {
    margin-top: 10px;
    margin-left: 5px;
    clear: none;
    word-wrap: break-word;
    line-height: 1.3;
}

.post-num:hover {
    cursor: pointer;
    color: var(--danger);
}

.post-banned-message {
    margin-top: 2px;
    font-weight: bold;
    color: var(--danger);
}

.greentext {
    color: var(--greentext);
}

.post-filename {
    color: var(--link-secondary);
    text-decoration: underline;
    cursor: pointer;
}

.post-filename:hover {
    color: var(--danger);
}

.reply-link {
    color: var(--reply-link);
    text-decoration: underline;
    cursor: pointer;
}

.reply-link-header {
    color: var(--link-secondary);
    text-decoration: underline;
    cursor: pointer;
    margin-left: 4px;
}

.reply-link-header:hover {
    color: var(--reply-link);
}

/* ADMIN */

.admin-login-container {
    width: max-content;
    margin: auto;
    margin-top: 32px;
}

#adminLoginForm form {
    margin: auto;
}

#adminLoginForm button {
    display: block;
    margin-left: auto;
}

.admin-dialog {
    border: 1px solid var(--border-light);
    background: var(--dialog-bg);
    padding: 6px 8px;
    min-width: 160px;
    box-shadow: 2px 2px 4px var(--shadow);

    font-size: 12px;
    color: var(--black);

    position: fixed;
    z-index: 2000;
}

.admin-dialog h1 {
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--brand-red);
    text-align: center;
}

.admin-dialog button {
    display: block;
    margin: 5px auto;
}

.admin-dialog-close-btn {
    font-weight: bold;
    margin-top: 20px !important;
}

/* GENERAL LAYOUT */

.container {
    width: 600px;
    margin: auto;
}

.box {
    font-size: 12px;
    border: 1px solid var(--black);
    background-color: var(--box-bg);
}

.box h2 {
    padding: 5px;
    margin: 0;
    background-color: var(--heading-bg);
    color: var(--heading-text);
}

.box p {
    padding: 10px;
}

.warning {
    background: var(--warning-bg);
    color: var(--black);
    border: 1px solid var(--black);
    padding: 8px;
    margin: 5px 0;
    font-size: 12px;
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    font-size: .8rem;
    color: var(--link-secondary);
    cursor: pointer;
    text-decoration: underline;
}

.link-button:hover {
    color: var(--danger);
}

.icon {
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.icon:not(:last-child) {
    margin-right: 2px;
}

hr {
    border: none;
    border-top: 1px solid var(--border-light);
    height: 0;
    clear: left;
}

footer {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 10px;
    text-align: center;
}

/* 404 NOT FOUND */

.not-found-container {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.not-found-container .box {
    text-align: center;
}

.not-found-container .box div {
    padding: 20px;
}

#notFoundImg {
    max-width: 80%;
    display: block;
    margin: auto;
}
