package views

import "github.com/dominicf2001/comfychan/web/views/shared"

templ Index() {
	@shared.Layout("Comfychan") {
		<section class="container">
			<img id="clavis" src="/static/media/clavis.png"/>
			<div class="box">
				<h2>Welcome to Comfychan</h2>
				<div>
					<p>
						<strong>Comfychan</strong> is place to share comfy images and videos.
					</p>
				</div>
			</div>
		</section>
	}
}
