package views

import "github.com/dominicf2001/comfychan/internal/database"

type ThreadGridBoxViewModel struct {
Thread database.Thread
Posts []database.Post
}

templ PostsCatalog(vms []ThreadGridBoxViewModel) {
<div id="catalog">
	for _, vm := range vms {
	<div class="catalog-post">
		<h1><a class="catalog-post-link">{ vm.Thread.Subject }</a></h1>
		<p>{ vm.Posts[0].Body }</p>
	</div>
	}
</div>
}
