package views

import "github.com/dominicf2001/comfychan/internal/database"

type ThreadGridBoxViewModel struct {
Thread database.Thread
Posts []database.Post
}

templ PostsGrid(vms []ThreadGridBoxViewModel) {
for _, vm := range vms {
<div class="thread-catalog-post">
	<h1>{ vm.Thread.Subject }</h1>
	<p>{ vm.Posts[0].Body }</p>
</div>
}
}
